<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.GaminmessDAO">

    <!-- insert语句 -->
    <insert id="insertGaminmess" parameterType="Gaminmess" keyProperty="id">

        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT @@IDENTITY
        </selectKey>

        insert into gamin_mess(
        find_time,
        age,
        sex,
        height,
        find_place,
        feature,
        picture_list,
        other_message)
        values
        (
        #{find_time},
        #{age},
        #{sex},
        #{height},
        #{find_place},
        #{feature},
        #{picture_list},
        #{other_message})
    </insert>

    <select id="selectGaminmessCount" parameterType="int" resultType="int">
        select count(*) from gamin_mess
    </select>

    <!-- select语句 -->
    <select id="selectGaminmessFromId" parameterType="Gaminmess" resultType="Gaminmess">
        select * from gamin_mess
         where gamin_mess.id = #{id}
    </select>

    <select id="selectGaminmess" resultType="Gaminmess">
        SELECT * from gamin_mess
        <where>
            <if test="param1.find_time!=null and param1.find_time!='' ">
                gamin_mess.find_time LIKE CONCAT(CONCAT('%', #{param1.find_time}),'%')
            </if>
            <if test="param1.age!=0">
                <![CDATA[
                    AND gamin_mess.age > #{param1.age}-3
                    AND gamin_mess.age < #{param1.age}+3
                ]]>
            </if>
            <if test="param1.sex!=2">
                AND gamin_mess.sex = #{param1.sex}
            </if>
            <if test="param1.height!=0">
                <![CDATA[
                    AND gamin_mess.height > #{param1.height}-3
                    AND gamin_mess.height < #{param1.height}+3
                ]]>
            </if>
            <if test="param1.find_place !=null and param1.find_place!='' ">
                AND gamin_mess.find_place LIKE CONCAT(CONCAT('%', #{param1.find_place}),'%')
            </if>
        </where>
        limit #{param2},#{param3}
    </select>


    <!-- update语句 -->
    <update id="updateGaminmess" parameterType="Gaminmess">
        update gamin_mess set
        find_time=#{find_time},
        age=#{age},
        sex=#{sex},
        height=#{height},
        find_place=#{find_place},
        feature=#{feature},
        picture_list=#{picture_list},
        other_message=#{other_message}
        where id=#{id}
    </update>

    <!-- delete语句 -->
    <delete id="deleteGaminmess" parameterType="int">
        delete from gamin_mess
        where id=#{id}
    </delete>


</mapper>